<!DOCTYPE html>
<html>
<head>
    <title>Welcome email</title>
</head>
<body>
    <h2>Thank you for your contribution <%= first_name %></h2>
    <p>We appreciate yoyr response as it has been accepted. Keep up the good work Pro!</p>
</body>
</html>
