<!DOCTYPE html>
<html>
<head>
    <title>Welcome email</title>
</head>
<body>
    <h2>Welcome to Pro's Overflow <%= first_name %></h2>
    <p>We are glad to have you join the ranks of other pros. Continue to the site to interact with others. Happy coding <%= second_name %>!</p>
</body>
</html>
